{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
<title>RACE Proctor |  Sign Up</title>
{% endblock %}

{% block content %}
<article class=flashes>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</article>


<h1>{{ title }} </h1>
<style>
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 35%
	}
    </style>


    <div class="row">
        <div class="col-md-12 text-center">
            <h2 style="clear: both">Upload  your ID Proof </h2>
            
            <form method="POST" action="upload_file" enctype="multipart/form-data">
                <p><input type="file" name="file"></p>
                <p><input type="submit" value="Upload"></p>
              </form>
            {% if filename %}
              <div>
                  <img src="{{ url_for('upload_file', filename=filename) }}">
              </div>
            {% endif %}
            <h2 style="clear: both">Capture your picture with Webcam </h2>
            <h3 style="clear: both">Click on Capture Button </h3>
            <form method="POST" action="{{ url_for('capture') }}" enctype="multipart/form-data">
                <p><input type="submit" value="Capture"></p>
              </form>
              
        </div>
    </div>
{% endblock %}

